<div>
  <b>Totalidad de productos cargados:</b>
  <a href="/realtimeproducts">Ir a productos en tiempo real</a>
  {{#each products}}
    <div>
      <p>Producto: {{this.title}}</p>
    </div>
  {{/each}}
</div>